@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* font-family: "Onest", sans-serif; */
  font-family: "Mohave", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f3f3f3;
  color: #535353;
}
@keyframes slideLeftEndless {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.slid-images.horizontal {
  display: flex;
  animation: slideLeftEndless 15s infinite linear;
  align-items: center; /* これを追加して画像を上下中央に配置 */
}

/* ホバー時にアニメーションを一時停止 */
.slid-images.horizontal:hover {
  animation-play-state: paused;
}

/* ///////////////////////////////////////////// */

.button-cartMenu {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* cursor: pointer; */
  /* position: absolute;
  top: -22px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%; */
  background: transparent;
}

.ul-cartMenu,
.li-cartMenu {
  margin: 0;
  padding: 0;
}

.ul-cartMenu {
  padding: 15px;
  position: absolute;
  top: 75px;
  right: -50px;
  width: 240px;
  border-radius: 0 0 7px 7px;
}

.li-cartMenu {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.closed-menu {
  display: none;
}
