@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* font-family: "Onest", sans-serif; */
  font-family: "Mohave", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f3f3f3;
  color: #535353;
}

@keyframes slideLeftEndless {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-178%);
  }
}

.slid-images.horizontal {
  display: flex;
  animation: slideLeftEndless 10s infinite linear; /* アニメーション時間を調整する */
  align-items: center;
}

.slid-images.horizontal:hover {
  animation-play-state: paused;
}

/* ///////////////////////////////////////////// */

.button-cartMenu {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.ul-cartMenu,
.li-cartMenu {
  margin: 0;
  padding: 0;
}

.ul-cartMenu {
  padding: 15px;
  position: absolute;
  top: 75px;
  right: -50px;
  width: 240px;
  border-radius: 0 0 7px 7px;
}

.li-cartMenu {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.closed-menu {
  display: none;
}

/* //////////////////////////////////////////// */
.trailsText {
  position: relative;
  width: 100%;
  line-height: 50px;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.rateStar {
  font-size: 20px !important;
}

@media only screen and (max-width: 639px) {
  .rateStar {
    font-size: 10px !important;
  }
}
